* {
    margin: 0;
    padding: 0;
  }

:root {
    --bg-color-sidebar: rgb(11, 139, 224);
    --bg-color-main: rgb(224, 224, 224);
    --bg-color-text: #ffffff;
    --text-size: calc(10px + 0.5vw);
    --heading-fs: calc(16px + 0.6vw);
    --heading-icon: calc(50px + 0.6vw);
    --image-size: calc(20px + 1vw);
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(280px, 1fr) 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "sidebar content" "footer footer"; 
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    grid-area: header;
    background-color: var(--bg-color-text);
    color: var(--bg-color-sidebar);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: var(--heading-fs);
}

.header svg {
    width: var(--heading-icon);
    height: auto;
    fill: var(--bg-color-sidebar);
}

/* Sidebar */
.sidebar {
    background-color: var(--bg-color-sidebar);
    color: var(--bg-color-text);
    padding: 20px;
}

.sidebar .heading {
    display: flex;
    gap: 15px;
}

/* Sidebar buttons */
.sidebar button {
    background-color: var(--bg-color-sidebar);
    width: auto;
    color: var(--bg-color-text);
    font-size: var(--text-size);
    border-style: none;
    cursor: pointer;
}

.sidebar #addProject {
    width: 30px;
    height: 30px;
    border-radius: 50%;  
}

.sidebar .projectItems {
    border: 1px solid var(--bg-color-text);
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}

#plus_img_sidebar {
    filter: invert(1);
    width: 30px;
    height: auto;
}

#sidebarIcon {
    filter: invert(1);
    width: 20px;
    height: auto;
}

/* sidebar list */
.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 10px;
}

.sidebar li:first-of-type {
    padding-top: 15px;
}

/* main content - elements added dynamically in javascript*/
.content {
    padding: 20px;
    background-color: var(--bg-color-main);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content .top {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.currentProjectName {
    font-size: 40px;
}

.content .addTodo {
    display: flex;
    gap: 15px;
}

.content #addTodoBtn {
    background-color: var(--bg-color-main);
    border-style: none;
    cursor: pointer;
    border-radius: 50%;
}

#content_icon,
#plus_img_content {
    width: 30px;
    height: auto;
    padding: 0 5px;
    /* filter: invert(1); */
}

/* Todo items*/
.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
}

.todoInfo {
    display: flex;
}

.todo-checkbox {
    margin: 5px 20px;
    width: 30px;
    height: 30px;
}

#details-close {
    border: none;
    height: 30px;
    width: 30px;
    font-weight: bold;
    font-size: 26px;
    padding: 0 5px;
}

.completed-todo {
    text-decoration: line-through;
    opacity: 0.6;
}

/* footer */
.footer {
    grid-area: footer;
    background-color: var(--bg-color-text);
    padding: 20px;
    color: var(--bg-color-sidebar);
    font-size: var(--text-size);
}

.footer a {
    text-decoration: none;
    color: var(--bg-color-sidebar);
}

/* Popup modal forms */

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modal[open] {
    display: flex;
}

.modal-inner {
    background-color: var(--bg-color-text);
    border-radius: 0.5em;
    max-width: 600px;
    padding: 2em;
    margin: auto;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    font-size: 26px;
}

/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal form ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
 }
.modal form label {
    display: block;
    text-align: left;
    padding-right: 10px;
} 

.modal form input {
    width: 300px;
    height: 20px;
    padding: 5px;
    font-size: 18px;
}

.priorityBoxes {
    display: flex;
} 

.priorityBoxes input[type=radio] {
    width: 30px;
    margin-bottom: 5px;
}
  
.submitTodo,
.submitProject {
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
}
#modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
    opacity: 0.5;
}

